[Unit]
Description=Temperature to DynamoDB
After=network.target

[Service]
ExecStart=/opt/temp_dynamodb/push_data_DynamoDB.py
WorkingDirectory=/opt/temp_dynamodb
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
